:root {
	--cube-width: 450px;
	--cube-height: 520px;
}

@media only screen and (max-width: 400px) {
	:root {
		--cube-width: 400px;
		--cube-height: 250px;
	}
	html {
		font-size: 12px;
	}

	#triggers, #moves {
		font-size: 10px;
	}

	#triggers .btn, #moves .btn {
		font-size: 8.75px;
	}
}

@media (min-width: 400px) {
	.collapse.dont-collapse-sm {
	  display: block;
	  height: auto !important;
	  visibility: visible;
	}
  }

#result g, #algo g, .algo g {
	color: mediumseagreen;
}

#result r, #algo r, .algo r {
	color: orangered;
}

#result bl, #algo bl, .algo bl {
	color: dodgerblue;
}

#result m, #algo m, .algo m {
	color: magenta;
}

.opt-l1 {
    font-weight: bold;
    font-style: italic;
}
    
.opt-l2 {
    padding-left: 15px;
}

ul.pll {
	--num-images: 4;
}

ul.f2l, ul.oll {
	--num-images: 1;
}
ul.f2l, ul.oll, ul.pll {
	display: grid;
	grid-template-columns: minmax(50px, max-content) min-content repeat(100, max-content);
	grid-gap: 10px;
	align-items: center;
}

li.algo{
	display: contents;
}


li.title{
	font-size:24px;
	margin-left: -30px;
	font-weight:bold;
	grid-column: 1/-1;
	list-style: none;
	clear: both;
}

li > .images {
	display: flex;
}

.images > .image {
	flex-basis: 100px;
}

ul.pll:not(.expand-images) .images > .image:not(:first-child) {
	display: none;
}



.name{
	grid-column-start: 1;
}	

.image-comment {
	font-size: 12px;
	text-align: center;
}	

.arrows{
	display:none;
}

.formulas {
	display: flex;
}

.formula, .comment {
	display: inline;
}

.formula::after, .comment::after {
	padding: 0px 10px; 
	content: ";"; 
}

#algo_demo {
    width: 185px;
    height: 230px;
    position: absolute;
	transform: translate(10px,-10px);
    visibility: hidden;
    background-color: #DDDDDD;
    border: solid 2px #666666;
    padding: 10px;
    margin: 10px;
}

#demo_cube {
	width: 100%;
	height: 80%;
}

#demo_buttons {
	text-align: center;
}

#undo-move-btn {
	grid-column-start: 1;
	grid-row-start: 1;
	width: fit-content;
	height: fit-content;
}

#keyboard {
	grid-column: 2/-2;
	grid-row-start: 1;
	pointer-events: none;
}

@keyframes yellowfade {
    from { background: red; }
    to { background: transparent; }
}

.yellow-fade {
    animation-name: yellowfade;
    animation-duration: 1.5s;
}

#redo-move-btn {
	grid-column-start: -1;
	grid-row-start: 1;
	width: fit-content;
	height: fit-content;
}

.flip-v {  
	display: inline-block;
	transform: translate(2px, 2px) scale(1.5, -1.5);
}

#three-cube {
    height: var(--cube-height);
    width: var(--cube-width);
	touch-action: none;
}

#debug {
	background-color: yellow;
	grid-column: 1;
	grid-row: 2;
}
  
#moves {
	z-index: 100;
	grid-column: -4/span 3;
	grid-row: 3;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
.virtualcube canvas {
	position: relative;
	top: -50px;
}*/

.virtualcube .button-toolbar {
	display: none;
}

/*
#train-controls {
	display: grid;
	grid-template-columns: repeat(var(--tr-columns), 1fr);
	column-gap: 5px;
}

#train-controls > * {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#train-controls > * > * {
	display: contents;
}


#train-controls > * > * > *{
	margin-right: 2px;
	margin-bottom: 2px;
}

#advance-controls > * > * {
	flex: 1;
}
*/

#train-controls .select2 {
	line-height: 1.2;
	width: 100%;
}

#div_menu {
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}

#nav-tabContent {
	margin-top: 50px;
}

.form-check-inline {
	line-height: 1;
}


#div_menu > ul > li.active{
	background-color:#DDDDFF;
	border-style:inset;
}

.tab_body_item {
	display:none;
}
.tab_body_item.active {
	display:block;
}

.btn-mine {
	background-color: #e4e4e4;
	outline: none;
	height: fit-content;
}

.btn-mine:not(.btn-toggle) {
	border-bottom: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
}

.btn-toggle.collapsed {
	border-bottom: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
}
.btn-toggle:not(.collapsed) {
	border-top: 2px solid #cccccc;
	border-left: 2px solid #cccccc;
}