:root {
	--vc-width: 450px;
	--vc-height: 520px;
	--vc-row: 1;
	--tr-columns: 5;
}

@media only screen and (max-width: 400px) {
	:root {
		--vc-width: 225px;
		--vc-height: 260px;
		--vc-row: 2;
		--tr-columns: 1;
	}
	html {
		font-size: 12px;
	}

	#triggers, #moves {
		font-size: 10px;
	}

	#triggers .btn, #moves .btn {
		font-size: 8.75px;
	}

	#algo-controls div > :nth-child(n+6) {
		display: none;
	}
}

#result g, #algo g, .algo g {
	color: mediumseagreen;
}

#result r, #algo r, .algo r {
	color: orangered;
}

#result bl, #algo bl, .algo bl {
	color: dodgerblue;
}

#result m, #algo m, .algo m {
	color: magenta;
}

.opt-l1 {
    font-weight: bold;
    font-style: italic;
}
    
.opt-l2 {
    padding-left: 15px;
}

ul.pll {
	--num-images: 4;
}

ul.f2l, ul.oll {
	--num-images: 1;
}
ul.f2l, ul.oll, ul.pll {
	display: grid;
	grid-template-columns: minmax(50px, max-content) min-content repeat(100, max-content);
	grid-gap: 10px;
	align-items: center;
}

li.algo{
	display: contents;
}


li.title{
	font-size:24px;
	margin-left: -30px;
	font-weight:bold;
	grid-column: 1/-1;
	list-style: none;
	clear: both;
}

li > .images {
	display: flex;
}

.images > .image {
	flex-basis: 100px;
}

ul.pll:not(.expand-images) .images > .image:not(:first-child) {
	display: none;
}



.name{
	grid-column-start: 1;
}	

.image-comment {
	font-size: 12px;
	text-align: center;
}	

.arrows{
	display:none;
}

.formulas {
	display: flex;
}

.formula, .comment {
	display: inline;
}

.formula::after, .comment::after {
	padding: 0px 10px; 
	content: ";"; 
}

#cube-controls {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	height: 355px;
}

/* make cells square */ 
#cube-controls::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

#cube-controls > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

/* end square */

#undo-move-btn {
	z-index: 100;
	grid-column-start: 1;
	grid-row-start: 1;
	width: fit-content;
	height: fit-content;
}

#keyboard {
	z-index: 100;
	grid-column: 2/-2;
	grid-row-start: 1;
}

#redo-move-btn {
	z-index: 100;
	grid-column-start: -1;
	grid-row-start: 1;
	width: fit-content;
	height: fit-content;
}

.virtualcube {
	grid-column: 1/-1;
	grid-row: var(--vc-row);
	height: var(--vc-height);
	width: var(--vc-width);
	position: relative;
	top: -30px;
	object-fit:contain; /* required for mobile */
	/* border:1px solid #CCCCCC; */
}

#debug {
	background-color: yellow;
	grid-column: 1;
	grid-row: 2;
}
  
#moves {
	z-index: 100;
	grid-column: -4/span 3;
	grid-row: 3;
	position: relative;
	right: -20px;
	top: -27px;
}

/*
.virtualcube canvas {
	position: relative;
	top: -50px;
}*/

.virtualcube .button-toolbar {
	display: none;
}


#train-controls {
	display: grid;
	grid-template-columns: repeat(var(--tr-columns), 1fr);
	column-gap: 5px;
}

#train-controls > * {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

#train-controls > * > * {
	display: contents;
}

#train-controls .select2 {
	line-height: 1.2;
}

#train-controls > * > * > *{
	margin-right: 2px;
	margin-bottom: 2px;
}

#advance-controls > * > * {
	flex: 1;
}

#div_menu {
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}

#nav-tabContent {
	margin-top: 30px;
}

.form-check-inline {
	line-height: 1;
}


#div_menu > ul > li.active{
	background-color:#DDDDFF;
	border-style:inset;
}

.tab_body_item {
	display:none;
}
.tab_body_item.active {
	display:block;
}

.btn-mine {
	background-color: #e4e4e4;
	border-bottom: 2px solid #cccccc;
	border-right: 2px solid #cccccc;

	outline: none;
	height: fit-content;
}