#result g, #algo g, .algo g {
	color: mediumseagreen;
}

#result r, #algo r, .algo r {
	color: orangered;
}

#result bl, #algo bl, .algo bl {
	color: dodgerblue;
}

#result m, #algo m, .algo m {
	color: magenta;
}

.opt-l1 {
    font-weight: bold;
    font-style: italic;
}
    
.opt-l2 {
    padding-left: 15px;
}

body {
	padding:5px;
}

ul.pll {
	--num-images: 4;
}

ul.f2l, ul.oll {
	--num-images: 1;
}
ul.f2l, ul.oll, ul.pll {
	display: grid;
	grid-template-columns: minmax(50px, max-content) min-content repeat(100, max-content);
	grid-gap: 10px;
	align-items: center;
}

li.algo{
	display: contents;
}


li.title{
	font-size:24px;
	margin-left: -30px;
	font-weight:bold;
	grid-column: 1/-1;
	list-style: none;
	clear: both;
}

li > .images {
	display: flex;
}

.images > .image {
	flex-basis: 100px;
}

ul.pll:not(.expand-images) .images > .image:not(:first-child) {
	display: none;
}



.name{
	grid-column-start: 1;
}	

.image-comment {
	font-size: 12px;
	text-align: center;
}	

.arrows{
	display:none;
}

.formulas {
	display: flex;
}

.formula, .comment {
	display: inline;
}

.formula::after, .comment::after {
	padding: 0px 10px; 
	content: ";"; 
}

#undo-move-btn {
	z-index: 100;
	position: relative;
}

#redo-move-btn {
	z-index: 100;
	position: relative;
}

#div_menu {
	z-index: 100;
	position: relative;
}

#nav-tabContent {
	position: relative;
/*	top: 20px;*/
}


.virtualcube {
	float: left;
	position: relative;
	top: -30px;
	width:500px;
	height:550px;
	object-fit:contain; /* required for mobile */
	/* border:1px solid #CCCCCC; */
}
  
/*
.virtualcube canvas {
	position: relative;
	top: -50px;
}*/

.virtualcube .button-toolbar {
	display: none;
}
/*
fieldset>legend {
	cursor:pointer;
}
fieldset>div {
	display:none;
}
*/

#div_canvas {
	width:285px;
	height:255px; 
	position:absolute; display:none; 
	background-color:#DDDDDD;
	border:solid 2px #666666;
	padding:10px;
	margin:10px;
}

#div_menu  ul > li{
	/*
	margin-right:40px;
	list-style: none;
	float:left;
	border: solid 2px;
	height:25px;
	width:120px;
	text-align:center;
	margin:2px;
	cursor:pointer;
	*/
}

#div_menu > ul > li.active{
	background-color:#DDDDFF;
	border-style:inset;
}

.tab_body_item {
	display:none;
}
.tab_body_item.active {
	display:block;
}
/*
.known {
	/* background-color:#FFFFCC; 
	font-weight: 600;
}

input[type=button] {
	background-color: #e4e4e4;
}

button {
	background-color: #e4e4e4;
}*/
.btn-mine {
	background-color: #e4e4e4;
	border-bottom: 2px solid #cccccc;
	border-right: 2px solid #cccccc;

	outline: none;

}